/*html {
    font-size: 10px;
}*/

body {
    font-family: 'Roboto', sans-serif;

    @media all and (max-width: 653px) {
        font-size: 0.8rem;
    }
}


h2 {
    font-size: 2rem;
}

a {
    font-weight: 700;
    color: inherit;
}

a:hover {
    color: #de4949;
}

ul {
    list-style-type: none;
    padding-left: 0;
}
